appdirs==1.4.4
astunparse==1.6.3
autograd==1.8.0
autoray==0.7.2
cachetools==6.1.0
certifi==2025.7.14
charset-normalizer==3.4.2
diastatic-malt==2.15.2
gast==0.6.0
idna==3.10
networkx==3.5
numpy==2.3.1
packaging==25.0
pandas==2.3.1
PennyLane==0.41.1
pennylane_lightning==0.42.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rustworkx==0.16.0
scipy==1.16.0
scipy-openblas32==0.3.30.0.1
six==1.17.0
termcolor==3.1.0
tomlkit==0.13.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
